{{ define "main"}}
<h2>{{ .Title}}</h2>
{{ .Content}}
<img src="{{ .Params.banner | relURL }}" />
<p class="description">{{ .Description }}</p>
<br />
This is coming from the html
<hr />
<p>{{ .Params.names_header }}</p>
<ol>
  {{ range .Params.tags }}
  <li>{{ . }}</li>
  {{ end }}
</ol>
<hr />
<div>{{ .Params.Catnames }}</div>
<div>{{ .Params.date }}</div>
{{ with .Params.author }}
<div class="author">
  <h2>{{ .name }}</h2>
  <small>{{ .bio }}</small>
  <img src="{{ .image }}" alt="Photo of {{ .name }}" />
</div>
{{ end }} {{ if .Params.has_cat }}
<p>I have a cat.</p>
{{ end }} {{ end }}
