.cat {
  background: white;
  text-align: center;
  padding: 20px;

  #{&}-title {
    text-transform: uppercase;
  }

  #{&}-image {
    border-radius: 15px;
  }

  #{&}-description {
    color: rgb(46, 46, 46);
  }

  #{&}-link {
    display: block;
    width: 50px;
    margin: 15px 0px 0px auto;
    padding: 10px 15px;
    box-shadow: 0 2px 3px rgba(221, 9, 9, 0.678);
    margin-top: 15px;
  }
}
