{{ define "main"}} you are here {{ .Path }}
<h2>{{ .Title}}</h2>
{{ .Content}}
<img src="{{ .Params.banner | relURL }}" />
<p class="description">{{ .Description }}</p>
<br />
<hr />
<p>Stu's list of Cat names.</p>
<ol>
  {{ range .Params.tags }}
  <li>{{ . }}</li>
  {{ end }}
</ol>
<hr />
<div>{{ .Params.Catnames }}</div>
<div>{{ .Params.date }}</div>
{{ with .Params.author }}
<div class="author">
  <h2>{{ .name }}</h2>
  <small>{{ .bio }}</small>
  <img src="{{ .image }}" alt="Photo of {{ .name }}" />
</div>
{{ end }} {{ end }}
